//-----------------Header

.videoani
{
    animation: comein 2300ms ease-in forwards 2300ms !important;
}
.logoani
{
    animation: comeinlogo 1000ms ease-out 3500ms forwards !important;
}
.sub1ani
{
    animation: comein 2000ms ease-in-out forwards 70ms !important;
}

.nameani
{
    animation: comein 2000ms ease-in forwards 950ms !important;
}

.sub2ani
{
    animation: comein 2000ms ease-in-out forwards 1950ms !important;
}

//---------------------About

.fadein
{
    opacity: 1 !important;
}

//---------------------About

.hideVer
{
    transform: translateX(-100vw) !important;
}

.hideHor
{
    transform: translate(-100vw,-50%) !important;
}

//------------------------Tools 

.flip
{
    & .cards__card__front
        {
            transform: rotate(0);
        }
    & .cards__card__back
    {
        transform: rotateY(180deg) ;
    }
}

//------------------------Nav

.comeinburger
{
    animation: comeinnav 1500ms ease-out forwards !important;
}
